@model WebApplication4.Models.Topic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4 style="color:blueviolet">Topic</h4>
    <hr />
    <dl class="horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicClousureDate):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicClousureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicFinalClousureDate):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicFinalClousureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicPostDate):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicPostDate)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
