@model IEnumerable<WebApplication4.Models.Topic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicClousureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicFinalClousureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicPostDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicClousureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicFinalClousureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicPostDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TopicID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TopicID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TopicID })
            </td>
        </tr>
    }

</table>
