@model IEnumerable<WebApplication4.Models.ArticlesComment>

<h1>Articles Comments</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Magazine.MagazineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Magazine.MagazineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentId })
        </td>
    </tr>
}

</table>
