@model WebApplication4.Models.Magazine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Magazine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.Topic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.Topic_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagazineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagazineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagazinePostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagazinePostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MagazineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
