@model IEnumerable<WebApplication4.Models.Magazine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.Topic_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagazineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagazinePostDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic.Topic_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagazineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagazinePostDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MagazineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MagazineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MagazineID })
        </td>
    </tr>
}

</table>
