@model IEnumerable<WebApplication4.Models.Magazine>

@{
    ViewBag.Title = "Article";
}

<h2>Article</h2>
<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Createby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagazineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagazinePostDate)
        </th>


        <th>Total Files</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Createby)
            </th>

            <td>
                @Html.DisplayFor(modelItem => item.MagazineName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Topic.TopicName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.MagazinePostDate)
            </td>

            <td>
                @if (item.FileDetails.Count() == 0)
                {
                    <span>No File</span>
                }
                else
                {
                    <span>@item.FileDetails.Count() File(s)</span>
                }
            </td>
            <td>
                @if (item.Createby == User.Identity.Name)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.MagazineID })} |
                @Html.ActionLink("Detail", "Details", new { id = item.MagazineID }) |

                <a href="javascript:void(0);" data-id="@item.MagazineID" class="deleteItem">Delete</a>
            </td>
        </tr>
    }

</table>

<style>
    .card {
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
        transition: 0.3s;
        width: 30%;
        border-radius: 5px
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
        }

    img {
        border-radius: 5px 5px 0 0;
    }
</style>






@*<div class="row" style="color:black;">

        @foreach (var item in Model)
        {


        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h3><b> @Html.DisplayFor(modelItem => item.MagazineName)</b></h3>

                <p style="color:darkblue"> @Html.DisplayNameFor(model => model.Createby): <br /></p><p>@Html.DisplayFor(modelItem => item.Createby)</p>
                <p style="color:darkblue"> @Html.DisplayNameFor(model => model.MagazinePostDate):<br /></p><p>@Html.DisplayFor(modelItem => item.MagazinePostDate)<p>
                <p style="color:darkblue"> @Html.DisplayNameFor(model => model.Topic.TopicName):<br /></p><p>@Html.DisplayFor(modelItem => item.Topic.TopicName)<p>

                <p>
                <p style="color:darkblue">
                    Total Files:
                </p>
                <p>
                    @if (item.FileDetails.Count() == 0)
                    {
                        <span>No File</span>
                    }
                    else
                    {
                        <span>@item.FileDetails.Count() File(s)</span>
                    }

                 </p>

                    <button class="btn btn-info"> @Html.ActionLink("Details", "Details", new { id = item.MagazineID })</button>


            </div>

        </div>


        }
    </div>*@

@section Scripts {

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this item?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                        alert("Delete Success");
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>

}
