
@model WebApplication4.Models.Magazine

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Support</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Createby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Createby)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Topic.TopicName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic.TopicName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MagazineName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MagazineName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.MagazinePostDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MagazinePostDate)
    </div>
</fieldset>
<input type="hidden" name="receiver" class="form-control" value="fptmanager1640@gmail.com" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
