@model IEnumerable<WebApplication4.Models.Magazine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Createby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagazineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagazinePostDate)
        </th>


        <th>Total Files</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Createby)
        </th>

        <td>
            @Html.DisplayFor(modelItem => item.MagazineName)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Topic.TopicName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.MagazinePostDate)
        </td>

        <td>
            @if (item.FileDetails.Count() == 0)
        {
            <span>No File</span>
        }
        else
        {
            <span>@item.FileDetails.Count() File(s)</span>
        }
        </td>
        <td>
            @if (item.Createby == User.Identity.Name) {
            @Html.ActionLink("Edit", "Edit", new { id = item.MagazineID })} |
            @Html.ActionLink("Detail", "Details", new { id = item.MagazineID }) |

            <a href="javascript:void(0);" data-id="@item.MagazineID" class="deleteItem">Delete</a>
        </td>
    </tr>
}

</table>

@section Scripts {

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this item?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>

}
