@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<WebApplication4.Models.Magazine>

<style>
    .card {
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
        transition: 0.3s;
        width: 30%;
        border-radius: 5px
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
        }

 
</style>
<div class="">

    <h1 style="color:red">Welcome  @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name :"Guest") !</h1>

    <h1 style="color:midnightblue">Home Page</h1>


    @*<div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

        <div class="" style="margin:10px">
            <h4><b> Article View</b></h4>


            <button class="btn btn-info">@Html.ActionLink("View Article", "Article", "Magazine")</button>
        </div>

    </div>*@

<div class="row" style="color:black;">

    @if (User.IsInRole("Student"))
    {


        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b>Article Add</b></h4>


                <button class="btn btn-info">@Html.ActionLink("Add Article", "Create", "Magazine")</button>
            </div>

        </div>
        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b>My Article</b></h4>


                <button class="btn btn-info">@Html.ActionLink("View My Article", "Index", "Magazine")</button>
            </div>

        </div>




    }


    @if (User.IsInRole("Marketing Coordinator"))
    {
        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Topic Manage</b></h4>


                <button class="btn btn-info"> @Html.ActionLink("View Topic", "Index", "Topics")</button>
            </div>

        </div>
        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Topic Manage</b></h4>


                <button class="btn btn-info"> @Html.ActionLink("View Article", "Index", "Magazine")</button>
            </div>

        </div>




    }


    @if (User.IsInRole("Marketing Manager"))
    {
        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Topic Manage</b></h4>


                <button class="btn btn-info"> @Html.ActionLink("Topic", "Index", "Topics")</button>
            </div>

        </div>


        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Topic Manage</b></h4>


                <button class="btn btn-info"> @Html.ActionLink("View Article", "Index", "Magazine")</button>
            </div>

        </div>





    }


    @if (User.IsInRole("Admin"))
    {



        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Role Manage </b></h4>


                <button class="btn btn-info"> @Html.ActionLink("Manage Role", "Index", "AspNetRoles")</button>

            </div>

        </div>
        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Add Account </b></h4>


                <button class="btn btn-info">@Html.ActionLink("Add Account", "Register", "Account")</button>
            </div>

        </div>

        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> List Account </b></h4>


                <button class="btn btn-info">@Html.ActionLink("List Users", "Index", "AspNetUsers")</button>
            </div>

        </div>
        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Topic Manage</b></h4>


                <button class="btn btn-info"> @Html.ActionLink("View Article", "Index", "Magazine")</button>
            </div>

        </div>
        <div class="card col-md-3" style="margin:10px; background-color:whitesmoke">

            <div class="" style="margin:10px">
                <h4><b> Topic Manage</b></h4>


                <button class="btn btn-info"> @Html.ActionLink("Topic", "Index", "Topics")</button>
            </div>

        </div>





    }
</div>

</div>